@charset "utf-8";
:focus{ outline:none; }
input[type=text]:focus,
input[type=password]:focus, textarea:focus {
  outline: 0 none;
}
/* CSS Document */

@font-face {
				font-family: 'MyCustomFont1';
				src: url('lhfoldblockcondmed.eot');
				font-weight: normal;
				font-style: normal;
		}
@font-face {
				font-family: 'MyCustomFont1';
				src: url('lhfoldblockcondmed.ttf');
				font-weight: normal;
				font-style: normal;
		}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html {
	height:100%;
	overflow:hidden;
}
body {
	overflow:hidden;
	width:100%;
	height:100%;
	background-color: #000;
    font-family:  fantasy;
    font-weight: normal;
    font-style: normal;
}
#main {
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
}
#verticalScrollArea {
	position: absolute;
	width:100%;
}
section {
	position:relative;
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin-left: auto; 
	margin-right: auto;
}
.content {
	position:relative;
	min-width: 768px;
	max-width: 1600px;
	height: 100%;
	max-height: 1000px;
	overflow: hidden;
	display: block; 
	text-align: center;
	margin-left: auto; 
	margin-right: auto;
}
body.freeze { overflow: hidden; padding-right: 17px; }
/* ------------------------------------------------------------------------------------------ LOADER */
#jpreOverlay {
	background: rgb(178, 109, 54);
}
#jpreSlide {
}
#jpreLoader{
	width: 400px;
	height: 200px;
	background-image: url(../img/loader.png);
	background-repeat: no-repeat;
	background-position: center top;
}
#jpreBar {
}
#jprePercentage {
	color: #fff;
    font-family: fantasy;
	font-weight: normal;
	text-align: center;
	font-size: 50px;
	top: -50%;
}
/* ------------------------------------------------------------------------------------------ MENU */
#menu {
	position: fixed;
	top: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	/*background-image: url(../img/menu.png);*/
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
	height: 65px;
	z-index: 98;
}
#header {
	position: relative;
	top: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	height: 65px;
}
#navigation {
	position: fixed;
	float: left;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-size: 20px;
	list-style-type: none;
	text-decoration: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 140px;
	width: 660px;
	display: inline;
}
#navigation > a.nav-link {
	padding-right: 27px;
	color: #FFF;
	text-decoration: none;
	display: inline;
}
#navigation > a.nav-link.active {
	color: #ffb400;
}
#navigation > a.nav-link:hover {
	color: #ffb400;
}
#navigation > a.nav-link:active {
	color: #ffb400;
}
#BLOGOVIC {
	position: absolute;
	right: 84px; 
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-size: 20px;
}
.class_mm a:link {
	font-family: fantasy;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	}
.class_mm a:visited {
	font-family: fantasy;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	}
.class_mm a:active {
	font-family: fantasy;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	}
.class_mm a:hover {
	font-family: fantasy;
	font-size: 20px;
	color: #ffb400;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	}
/* ------------------------------------------------------------------------------------------ SLIDE */
#scrollBar {
	display: none;
	position: fixed;
	z-index:100;
	top:0px;
	right:0px;
	width: 16px;
	background-color: #3c3c3c;
}
.thumb {
	position: absolute;
	top:0px;
	left:0px;
	height:37px;
	width:100%;
	background-color: rgb(255,0,0);
	/*background: url("../img/img_thumb.jpg");*/
}
/* ------------------------------------------------------------------------------------------ SLIDE 1 */
#slide1 {
	height: 1000px; 
	background: url("../img/nosorog_24.jpg") no-repeat 50% 0px rgb(178, 109, 54); 
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#slide1 > .content {
	margin-top: 0;
}
#slide1 .slide1_container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 1000px;
	text-align: center;
}
#slide1_logo {
	position: absolute;
	width: 1000px;
	height: 145px;
	top: 0px;
	left: 0px;
	text-align: center;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#slide1_txt {
	position: absolute;
	width: 256px;
	height: 318px;
	top: 210px;
	left: 100px;
	padding-top: 20px;
	text-align: center;
	background-image: url(../img/prvi_24.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.txt01 {
    font-size: 34px;
	color: #9dd5ea;
	line-height: 32px;
}
.txt02 {
    font-size: 26px;
	color: #ffb400;
	line-height: 26px;
}
.txt03 {
    font-size: 22px;
	color: #9dd5ea;
	line-height: 23px;
}
.txt04 {
    font-size: 42px;
	color: #9dd5ea;
	line-height: 43px;
}
.txt05 {
    font-size: 40px;
	color: #ffb400;
	line-height: 40px;
}
.txt06 {
    font-size: 25px;
	color: #ffb400;
	line-height: 25px;
}
/* ------------------------------------------------------------------------------------------ SLIDE 2 */
#slide2 {
	height: 1000px; 
	background: url("../img/pas1_24.jpg") fixed no-repeat 50% 15% rgb(157, 213, 234);
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	}
/* ------------------------------------------------------------------------------------------ SLIDE 3 */
#slide3 {
	height: 1000px; 
	background: url("../img/pas2_24.jpg") fixed no-repeat 50% 15% rgb(157, 213, 234);
	border-top: 1px solid rgba(255,255,255,0.3); 
	border-bottom: 1px solid rgba(0,0,0,0.4);
	}
/* ------------------------------------------------------------------------------------------ SLIDE 4 */
#slide4 {
	height: 1000px; 
	background: url("../img/pas3_24.jpg") fixed no-repeat 50% 15% rgb(157, 213, 234);
	border-top: 1px solid rgba(255,255,255,0.3); 
	border-bottom: 1px solid rgba(0,0,0,0.4);
	}
/* ------------------------------------------------------------------------------------------ SLIDE 5 */	
#slide5 {
	height: 1000px; 
	background: url("../img/slon_24.jpg") no-repeat 50% 0px rgb(255, 192, 1);
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#slide5 > .content {
	margin-top: 0;
}
#slide5 .slide5_container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 1000px;
	text-align: center;
}
#slide5 > .content > .bg1  {
	position: absolute;
	width: 100%;
	height: 1000px;
	background: url('../img/mis_24.png') no-repeat 50% 0px;
}
#slide5_txt {
	width: 258px;
	height: 463px;
	top: 100px;
	margin-left: 50%;
	padding-top: 20px;
	position: absolute;
	text-align: center;
	background-image: url(../img/treci_24.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.txt10 {
	font-size: 28px;
	color: #FFF;
	line-height: 28px;
	text-align: center;
}
.txt11 {
    font-size: 29px;
	color: #FFF;
	line-height: 29px;
	text-align: center;
}
.txt12 {
    font-size: 76px;
	color: #FFF;
	line-height: 76px;
	text-align: center;
}
.txt13 {
    font-size: 21px;
	color: #FFF;
	line-height: 22px;
	text-align: center;
}
.txt14 {
    font-size: 56px;
	color: #FFF;
	line-height: 56px;
	text-align: center;
}
.txt15 {
    font-size: 112px;
	color: #FFF;
	line-height: 108px;
	text-align: center;
}
/* ------------------------------------------------------------------------------------------ SLIDE 6 */
#slide6 {
	height: 1000px; 
	background: url("../img/macka_24.jpg") no-repeat 50% 0px rgb(67, 139, 161);
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#slide6 > .content {
	margin-top: 0;
}
#slide6 .slide6_container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 1000px;
	text-align: center;
}
#slide6_txt {
	width: 270px;
	height: 435px;
	top: 64px;
	margin-left: 50%;
	padding-top: 30px;
	position: absolute;
	text-align: left;
	background-image: url(../img/cetvrti_24.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.txt16 {
    font-size: 20px;
	color: #b73831;
	line-height: 18px;
	text-align: left;
}
.txt17 {
    font-size: 50px;
	color: #b73831;
	line-height: 45px;
	text-align: left;
}
.txt18 {
    font-size: 40px;
	color: #FFF;
	line-height: 36px;
	text-align: left;
}
.txt19 {
    font-size: 39px;
	color: #b73831;
	line-height: 46px;
	text-align: left;
}
/* ------------------------------------------------------------------------------------------ SLIDE 7 */
#slide7 {
	height: 1000px; 
	background-color: #e2e2e2;
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#slide7 > .content {
	margin-top: auto;
	margin-bottom: auto;
}
#slide7 .slide7_container {
	width: 100%;
	height: 720px;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
}
#container {
	width: 100%;
	height: 720px;
	margin-top: 5%;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding: 0;
	position:relative;
	z-index: 0;
}
.slides_container {
	width: 1000px;
	height: 720px;
	overflow: hidden;
	position: relative;
	display: none;
	padding: 0px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#slides .slideR {
	padding: 0;
	width: 1000px;
	height: 720px;
	display: block;
}
#slides {
	position: relative;
	width: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	z-index: 100;
}
#slides .next,#slides .prev {
	position:absolute;
	top: 350px;
	width: 127px;
	height: 76px;
	display: block;
	z-index: 101;
}
#slides .prev {
	left: 0px;
}
#slides .next {
	right: 0px;
}
/* SCREEN 1 */
#s1r1 {
	position: absolute;
	left: 1px;
	top: 69px;
	cursor: pointer;
}
#s1r2 {
	position: absolute;
	left: 252px;
	top: 69px;
	cursor: pointer;
}
#s1r3 {
	position: absolute;
	left: 502px;
	top: 69px;
	cursor: pointer;
}
#s1r4 {
	position: absolute;
	left: 753px;
	top: 69px;
	cursor: pointer;
}
#s1r5 {
	position: absolute;
	left: 1px;
	top: 344px;
	cursor: pointer;
}
#s1r6 {
	position: absolute;
	left: 252px;
	top: 310px;
	cursor: pointer;
}
#s1r7 {
	position: absolute;
	left: 753px;
	top: 274px;
	cursor: pointer;
}
#s1r8 {
	position: absolute;
	left: 1px;
	top: 573px;
	cursor: pointer;
}
#s1r9 {
	position: absolute;
	left: 252px;
	top: 556px;
	cursor: pointer;
}
#s1r10 {
	position: absolute;
	left: 502px;
	top: 424px;
	cursor: pointer;
}
#s1r11{
	position: absolute;
	left: 753px;
	top: 521px;
	cursor: pointer;
}
/* SCREEN 2 */
#s2r1{
	position: absolute;
	left: 1px;
	top: 69px;
	cursor: pointer;
}
#s2r2{
	position: absolute;
	left: 252px;
	top: 69px;
	cursor: pointer;
}
#s2r3{
	position: absolute;
	left: 502px;
	top: 69px;
	cursor: pointer;
}
#s2r4{
	position: absolute;
	left: 753px;
	top: 69px;
	cursor: pointer;
}
#s2r5{
	position: absolute;
	left: 1px;
	top: 344px;
	cursor: pointer;
}
#s2r6{
	position: absolute;
	left: 252px;
	top: 310px;
	cursor: pointer;
}
#s2r7{
	position: absolute;
	left: 502px;
	top: 284px;
	cursor: pointer;
}
#s2r8{
	position: absolute;
	left: 753px;
	top: 274px;
	cursor: pointer;
}
#s2r9{
	position: absolute;
	left: 1px;
	top: 555px;
	cursor: pointer;
}
#s2r10{
	position: absolute;
	left: 252px;
	top: 521px;
	cursor: pointer;
}
#s2r11{
	position: absolute;
	left: 502px;
	top: 557px;
	cursor: pointer;
}
#s2r12{
	position: absolute;
	left: 753px;
	top: 521px;
	cursor: pointer;
}
/* SCREEN 3 */
#s3r1{
	position: absolute;
	left: 1px;
	top: 69px;
	cursor: pointer;
}
#s3r2{
	position: absolute;
	left: 252px;
	top: 69px;
	cursor: pointer;
}
#s3r3{
	position: absolute;
	left: 502px;
	top: 69px;
	cursor: pointer;
}
#s3r4{
	position: absolute;
	left: 753px;
	top: 69px;
	cursor: pointer;
}
#s3r5{
	position: absolute;
	left: 1px;
	top: 302px;
	cursor: pointer;
}
#s3r6{
	position: absolute;
	left: 252px;
	top: 238px;
	cursor: pointer;
}
#s3r7{
	position: absolute;
	left: 502px;
	top: 284px;
	cursor: pointer;
}
#s3r8{
	position: absolute;
	left: 753px;
	top: 274px;
	cursor: pointer;
}
#s3r9{
	position: absolute;
	left: 1px;
	top: 453px;
	cursor: pointer;
}
#s3r10{
	position: absolute;
	left: 252px;
	top: 489px;
	cursor: pointer;
}
#s3r11{
	position: absolute;
	left: 502px;
	top: 557px;
	cursor: pointer;
}
#s3r12{
	position: absolute;
	left: 753px;
	top: 521px;
	cursor: pointer;
}
/* SCREEN 4 */
#s4r1{
	position: absolute;
	left: 1px;
	top: 69px;
	cursor: pointer;
}
#s4r2{
	position: absolute;
	left: 252px;
	top: 69px;
	cursor: pointer;
}
#s4r3{
	position: absolute;
	left: 502px;
	top: 69px;
	cursor: pointer;
}
#s4r4{
	position: absolute;
	left: 753px;
	top: 69px;
	cursor: pointer;
}
#s4r5{
	position: absolute;
	left: 1px;
	top: 300px;
	cursor: pointer;
}
#s4r6{
	position: absolute;
	left: 252px;
	top: 238px;
	cursor: pointer;
}
#s4r7{
	position: absolute;
	left: 502px;
	top: 284px;
	cursor: pointer;
}
#s4r8{
	position: absolute;
	left: 753px;
	top: 334px;
	cursor: pointer;
}
#s4r9{
	position: absolute;
	left: 1px;
	top: 498px;
	cursor: pointer;
}
#s4r10{
	position: absolute;
	left: 252px;
	top: 489px;
	cursor: pointer;
}
#s4r11{
	position: absolute;
	left: 502px;
	top: 557px;
	cursor: pointer;
}
/* ------------------------------------------------------------------------------------------ SLIDE 8 */
#slide8 {
	height: 1000px; 
	background: url("../img/klijenti1_24.jpg") fixed no-repeat 50% 50% rgb(163, 169, 171);
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	background-size: auto;
}
/* ------------------------------------------------------------------------------------------ SLIDE 9 */
#slide9 {
	height: 1000px; 
	background: url("../img/klijenti2_24.jpg") fixed no-repeat 50% 50% rgb(177, 202, 213);
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	background-size: auto;
}
/* ------------------------------------------------------------------------------------------ SLIDE 10 */
#slide10 {
	height: 1000px; 
	background: url("../img/gorila_24.jpg") no-repeat 50% 0px rgb(58, 173, 170);
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#slide10 > .content {
	margin-top: 0;
}
#slide10 .slide10_container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 1000px;
	text-align: center;
}
#slide10_txt {
	position: absolute;
	width: 257px;
	height: 425px;
	top: 120px;
	left: 120px;
	padding-top: 18px;
	text-align: center;
	background-image: url(../img/sedmi_24.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.txt24 {
    font-size: 34px;
	color: #FFF;
	line-height: 31px;
	text-align: center;
	letter-spacing: normal;
}
.txt25 {
    font-size: 29px;
	color: #FFF;
	line-height: 32px;
	text-align: center;
	letter-spacing: normal;
}
.txt26 {
    font-size: 20px;
	color: #FFF;
	line-height: 20px;
	text-align: center;
	letter-spacing: normal;
}
.txt27 {
    font-size: 48px;
	color: #FFF;
	line-height: 43px;
	text-align: center;
	letter-spacing: normal;
}
.txt28 {
    font-size: 26px;
	color: #FFF;
	line-height: 29px;
	text-align: center;
	letter-spacing: normal;
}
.txt29 {
    font-size: 34px;
	color: #ffb400;
	line-height: 31px;
	text-align: center;
	letter-spacing: normal;
}
.txt30 {
    font-size: 16px;
	color: #FFF;
	line-height: 22px;
	text-align: center;
	letter-spacing: normal;
}
.txt30 a:link {
    font-size: 16px;
	color: #FFF;
	line-height: 22px;
	text-align: center;
	letter-spacing: normal;
	text-decoration: none;
	}
.txt30 a:visited {
    font-size: 16px;
	color: #FFF;
	line-height: 22px;
	text-align: center;
	letter-spacing: normal;
	text-decoration: none;
	}
.txt30 a:active {
    font-size: 16px;
	color: #FFF;
	line-height: 22px;
	text-align: center;
	letter-spacing: normal;
	text-decoration: none;
	}
.txt30 a:hover {
    font-size: 16px;
	color: #ffb400;
	line-height: 22px;
	text-align: center;
	letter-spacing: normal;
	text-decoration: none;
	}
/* ---------------------------------------------------------------------------------------------------- TBL */
	.tblWidth100 {
		width: 410px;
		border-spacing: 0px;
		text-align: center;
	}
	.col1 {
		width: 65px;
	}
	.col2 {
		width: 65px;
	}
	.col3 {
		text-align: center;
		vertical-align: top;
	}
	.col4 {
		height: 106px;
	}
	.col5 {
		height: 118px;
	}
	.col6 {
		height: 108px;
	}
	.col7 {
		height: 98px;
	}
	.col8 {
		height: 109px;
	}
	.col9 {
		height: 110px;
	}
	.col10 {
		height: 138px;
	}
	.col11 {
		height: 105px;
	}
	.col12 {
		height: 108px;
	}
	.col13 {
		height: 99px;
	}
	.col14 {
		height: 96px;
	}
/* ---------------------------------------------------------------------------------------------------- TBL */
#mouseUP1 {
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	width: 410px;
	height: 300px;
	background-image: url(../img/mouseup_24.png);
	background-repeat: no-repeat;
	background-position: center top;
	display: none;
	z-index: 2;
	}
#mouseUP2 {
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	width: 410px;
	height: 300px;
	background-image: url(../img/mouseup_24.png);
	background-repeat: no-repeat;
	background-position: center top;
	display: none;
	z-index: 2;
	}
#mouseUP3 {
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	width: 410px;
	height: 300px;
	background-image: url(../img/mouseup_24.png);
	background-repeat: no-repeat;
	background-position: center top;
	display: none;
	z-index: 2;
	}
#mouseUP4 {
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	width: 410px;
	height: 300px;
	background-image: url(../img/mouseup_24.png);
	background-repeat: no-repeat;
	background-position: center top;
	display: none;
	z-index: 2;
	}
#mouseUP5 {
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	width: 410px;
	height: 300px;
	background-image: url(../img/mouseup_24.png);
	background-repeat: no-repeat;
	background-position: center top;
	display: none;
	z-index: 2;
	}
#mouseUP6 {
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	width: 410px;
	height: 300px;
	background-image: url(../img/mouseup_24.png);
	background-repeat: no-repeat;
	background-position: center top;
	display: none;
	z-index: 2;
	}
#mouseUP7 {
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	width: 410px;
	height: 300px;
	background-image: url(../img/mouseup_24.png);
	background-repeat: no-repeat;
	background-position: center top;
	display: none;
	z-index: 2;
	}
#mouseUP8 {
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	width: 410px;
	height: 300px;
	background-image: url(../img/mouseup_24.png);
	background-repeat: no-repeat;
	background-position: center top;
	display: none;
	z-index: 2;
	}
#mouseUP9 {
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	width: 410px;
	height: 300px;
	background-image: url(../img/mouseup_24.png);
	background-repeat: no-repeat;
	background-position: center top;
	display: none;
	z-index: 2;
	}
#mouseUP10 {
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	width: 410px;
	height: 300px;
	background-image: url(../img/mouseup_24.png);
	background-repeat: no-repeat;
	background-position: center top;
	display: none;
	z-index: 2;
	}
#mouseUP11 {
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	width: 410px;
	height: 300px;
	background-image: url(../img/mouseup_24.png);
	background-repeat: no-repeat;
	background-position: center top;
	display: none;
	z-index: 2;
	}
.txt_MOP {
	font-family: 'aaux_prolightregular';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
	color: #464646;
	text-align: center;
	text-decoration: none;
	}
/* ------------------------------------------------------------------------------------------ SLIDE 11 */
#slide11 {
	height: 1000px; 
	background-color: #b73831;
	border-top: 1px solid rgba(255,255,255,0.3);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#slide11 > .content {
	margin-top: 0;
}
#slide11 .slide11_container {
	width: 100%;
	height: 560px;
	top: 40px;
	padding-top: 22px;
	position: absolute;
	text-align: center;
	background-image: url(../img/osmi_24.png);
	background-repeat: no-repeat;
	background-position: center top;
}
#slide11_txt{
	position: relative;
	width: 800px;
	height: 560px;
	margin-left: auto;
	margin-right: auto;	
}
.class_txt a:link {
	font-family: 'aaux_prolightregular';
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	color: #FFF;
	line-height: 21px;
	text-align: left;
	text-decoration: none;
	}
.class_txt a:visited {
	font-family: 'aaux_prolightregular';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
	color: #FFF;
	line-height: 21px;
	text-align: left;
	text-decoration: none;
	}
.class_txt a:active {
	font-family: 'aaux_prolightregular';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
	color: #FFF;
	line-height: 21px;
	text-align: left;
	text-decoration: none;
	}
.class_txt a:hover {
	font-family: 'aaux_prolightregular';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
	color: #9dd5ea;
	line-height: 21px;
	text-align: left;
	text-decoration: none;
	}
#textbox1 {
	position: absolute;
	width: 260px;
	left: 20px;
	top: 176px;
	text-align: left;
	font-family: 'aaux_prolightregular';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
	color: #FFF;
	line-height: 21px;
	text-align: left;
	text-decoration: none;
	}
#textbox2 {
	position: absolute;
	width: 224px;
	left: 294px;
	top: 176px;
	text-align: left;
	font-family: 'aaux_prolightregular';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
	color: #FFF;
	line-height: 21px;
	text-align: left;
	text-decoration: none;
	}
#textbox3 {
	position: absolute;
	width: 240px;
	left: 550px;
	top: 176px;
	text-align: left;
	font-family: 'aaux_prolightregular';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
	color: #FFF;
	line-height: 21px;
	text-align: left;
	text-decoration: none;
	}
/* ------------------------------------------------------------------------------------------ SLIDE 12 */
#slide12 {
	height: 150px; 
	background-color: #b73831;
	}
/* ------------------------------------------------------------------------------------------ POPUP PODACI */
#popupContact {
	display:none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	height: 357px;
	width: 685px;
	z-index:2;
	background-image: url(../img/podaci.png);
	background-repeat: no-repeat;
	background-position: center top;
}

#popupContactClose {
	position:absolute;
	display:block;
  	cursor: pointer;
}
#backgroundPopup {
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#FFFFFF;
	border:1px solid #cecece;
	z-index:1;
}
#buttonB {
  	cursor: pointer;
}
.txt31 {
    font-family:  fantasy;
    font-size: 20px;
	text-align: left;
	color: #000000;
	line-height: 20px;
	letter-spacing: normal;
}
.txt32 {
	font-family: 'aaux_prolightregular';
    font-size: 14px;
	text-align: left;
	color: #444444;
	line-height: 30px;
	text-decoration: none;
}
/* ------------------------------------------------------------------------------------------ POPUP RADOVI */

#close_fader{
	position:absolute;
	top: 20px;
	right: 50%;
	width: 43px;
	height: 43px;
	margin-right: -390px;
	display: block;
  	cursor: pointer;
	background-image: url(../img/zatvori1.png);
	background-repeat: no-repeat;
}
#back_fader{
	background-color: rgba(255, 255, 255, 0.93);
	display: none;
	bottom: 0;
	left: 0;
	overflow-x: auto;
	overflow-y: scroll;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
	cursor: pointer;
}
.popup_content {
	top: 75px !important;
	width: 665px;
	min-height: 500px;
	padding: 0px;
	margin:20px auto;
	background: #e6e6e6;
	position: static;
	z-index: 10;
	display: none;
	cursor: default;
 }